<%= error_messages_for 'lookup' %>

<!--[form:lookup]-->
<p><label for="lookup_name">Name</label><br/>
<%= text_field 'lookup', 'name'  %></p>

<p><label for="lookup_value">Value</label><br/>
<%= text_field 'lookup', 'value'  %></p>
<!--[eoform:lookup]-->

