<h1>New flatshare</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= render :partial => 'rich_attribute/form'%>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
