Dear <%= @user.full_name %>,

Your payment of £3 has been successfully received and we've activated your account, your all ready to go!

If you have any queries regarding your payment please contact us at contact@LondonFlatmate.net

LondonFlatmate.net