<p>Dear <%= @user.full_name %></p>

<p>We've noticed that you haven't refreshed your advert for a while now, we hope this means that your advert was successful!  If not please come back and refresh your advert, this ensures that it is at the top of the list when people are searching.</p>

<p>Thank you,

LondonFlatmate.net</p>