<p>Dear <%= @user.full_name %></p>

<p>Thank you for joining LondonFlatmate.net, the best way of finding a new flatmate or a new place to live!</p>

<p>Getting started couldn't be easier, simply log-in to your account at http://LondonFlatmate.net/user and create your advert.  The best adverts are ones with lots of description and some good photos, you can get some advice on how to set up a successful advert as well as lots of other interesting articles at http://LondonFlatmate.net/pages</p>

<p>If you have any questions or need to talk to us please mail us contact@LondonFlatmate.net

LondonFlatmate.net</p>
