<ul class="inline_advert_buttons">
	<li><%= link_to_remote icon2('add_picture', 'add picture'),
			:url => {:controller => 'image', :action => 'new', :id => advert},
			:update => 'form_holder' %></li>
			
	<li><%= link_to icon2('edit_advert', 'edit your advert'),
			:controller => 'user',
			:action => 'edit_advert',
			:id => advert %></li>
</ul>
