<%= image_slideshow({:file => "http://localhost:3001/slideshow/#{method_name}/#{advert.id}",
 	:transition => 'bgfade',
	:showicons => true,
	:shownavigation => true,
	:width => 300,
	:height => 300},
	{:id => method_name})%> 