<%= image_slideshow :file => "http://londonflatmate.net/user/slideshow_images/#{advert.id}",
 	:transition => 'bgfade',
	:showicons => true,
	:shownavigation => true,
	:width => 300,
	:height => 300 %>
