<li><%= link_to image_tag(featured_advert_picture(advert)), :controller => 'user',
													        :action => 'view_advert',
													        :id => advert %><br/>
																		
<%= link_to( truncate(advert.headline,30), :controller => 'user',
										   :action => 'view_advert',
										   :id => advert )%><br/>
										
<%= advert.area %></li>