<fieldset id='featured_adverts'>
	<%= render :partial => 'featured_adverts' %>
</fieldset>

<div id='about_us_content'>
	<%= @page.content %>
	<div id="accordion_holder">
		<%= render :partial => 'welcome_accordion' %>
	</div>
</div>