<%= error_messages_for 'promotions' %>

<!--[form:promotions]-->
<p><label for="promotions_name">Name</label><br/>
<%= text_field 'promotions', 'name'  %></p>

<p><label for="promotions_start_date">Start date</label><br/>
<%= date_select 'promotions', 'start_date'  %></p>

<p><label for="promotions_end_date">End date</label><br/>
<%= date_select 'promotions', 'end_date'  %></p>
<!--[eoform:promotions]-->

