<% for column in HelpText.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @help_text.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @help_text %> |
<%= link_to 'Back', :action => 'list' %>
